<!-- views/success.ejs -->
<!doctype html>
<html>

<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1>
                        Authentication Apointment Booking
                    </h1>
                    <p>
                        <!--<strong>Id</strong>: <%= user.id %><br>-->
                        Hi <%= user.emails[0].value %>!<br>
                            <!--<strong>Hi</strong>: <%= user.displayName %>-->
                    </p>
                    <!--<p>
                        <a href="http://localhost:3000/" class="btn btn-danger btn-lg"><span
                                class="fas fa-sign-out-alt"></span>
                            Logout</a>

                    </p>-->
                </div>
            </div>

        </div>

    </div>
</body>

</html>